.page-footer {
  background-color: #1f7dcf !important;
  padding: 20px 0;
}

.footer-copyright {
  background-color: #1a63a341 !important;
  position: relative;
  bottom: -19px;
  padding: 10px 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h5.white-text {
  font-size: 18px;
}

.grey-text.text-lighten-4 {
  color: #ccc;
}

a.grey-text.text-lighten-3 {
  color: #ccc;
  text-decoration: none;
}

a.grey-text.text-lighten-3:hover,
a.grey-text.text-lighten-3:focus {
  color: #2e8bc0;
  outline: 2px solid #2e8bc0; /* Add a focus outline */
  outline-offset: 2px;
}

/* Responsive design */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .footer-copyright .container {
    text-align: center;
  }
}
